* {
}

body {
  font-family: 'Inter', sans-serif;
}

/* Left Column */

/* Left: First Section */
.logoText {
  font-size: 13px;
}

.logoTextTagLine{
  font-size: 12px;
}

.logoImage {
  /* position: absolute;  */
  /* left: 50px;  */
  width: 50px;
  height: 50px;
}

/* Left: Second Section */
.scoreText {
  font-size: 28px;
}

.selectedGame {
  font-weight: bold; 
  font-size: 13px; 
}
.dax {
  color:#ba00f8; 
  font-weight: bold; 
  font-size: 10px; 
  margin-right: 5px; 
}

.newGameBtn {
  font-size: 13px;
  font-weight: bold;
  background-color: rgb(255, 183, 0);
  border: none;
  border-radius: 5px;
  padding: 3px;
  cursor: pointer !important;
  margin-bottom: 5px; 
}
.newGameBtn:hover {
  background-color: rgb(231, 169, 11) !important;
  color: #000 !important;
}

.newGameBtn:active {
  background-color: rgb(91, 67, 4) !important;
  color: #fff !important;
}

.gameInfoBtn {
  font-size: 13px; 
  cursor: pointer !important;
  padding: 3px;
  border: none;
  font-weight: bold;
}

.gameInstructions {
  font-size: 12px;
}

.underline {
  text-decoration: underline;
  font-weight: bold;
}

/* Left: Third Section */
.musicPlayer {
  width: 100%;
  /* border: 1px solid #000; */
  padding: 0px;
}
.musicText {
  font-size: 14px;
}
.nowPlayingText {
  font-size: 12px;
}

.moreControls {
  /* margin-right: 30px; */
  /* height: 30px; */
}

.moreControls button {
  border: 1px solid #444;
  border-radius: 15px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 2px;
  cursor: pointer;
}

.moreControls button:hover {
  background-color: #dadada;
}
.moreControls button:active {
  background-color: #a4a4a4;
}

audio::-webkit-media-controls-panel {
  background-color: #9fcbf4;
}

audio::-webkit-media-controls-play-button {
  background-color: #89a9d6;
  border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: #637fa5;
}

/* audio::-webkit-media-controls-current-time-display {
  color: #fff;
} */

audio::-webkit-media-controls-time-remaining-display {
  color: #565656;
}

/* Right Column */

/* Right: First Section */

.connectWalletBtn {
  background-color: #f2eeee;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 13px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
}
.connectedAddressText {
  font-size: 13px;
}

/* Right: Second Section */

.highestScoresText {
  font-size: 14px;
  text-align: center;
}

.highestScoresList {
  font-size: 12px;
}

.logsText{
  text-align: center;
  font-size: 14px; 
}

.logsContainer{
  background-color: #ffffff; 
  color: #000; 
  font-size: 12px; 
  /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   */
  font-family: "Source Code Pro", monospace;;
  padding: 5px; 
  border: 1px solid #565656; 
  border-radius: 5px; 
}

/* Right: Third Section */

.challengesText {
  font-size: 14px;
  text-align: center;
}

.gameChallenges {
  font-size: 14px;
}
.gameChallenges li {
  font-size: 11px;
}
.gameChallenges li:hover {
  background-color: #f2eeee;
  cursor: pointer;
}
.gameChallenges li:active {
  background-color: #3b3b3b;
  color: #fff;
  cursor: pointer;
}
.moneyFlash {
  color: green;
  /* color: #fff; */
  padding: 2px;
  font-weight: bold;
}
.moreChallengesBtn {
  font-size: 13px;
  border: 1px solid #000;
  border: none;
  border-radius: 3px;
  background-color: rgb(8, 168, 8);
  color: #fff;
}

/* more css */
.scoreField {
  color: #ba00f8; 
  font-weight: bold; 
}
.individualContractChallenges {
  border: 1px solid transparent; 
}
.individualContractChallenges:hover {
  background-color: #ba00f8 !important; 
  cursor: pointer !important; 
  color: #fff !important;  
  /* change scoreField too */
  .scoreField {
    color: #fff !important; 
  }
}

/* Game Info Modal */
.gameInfo {
  font-size: 12px;
}
.widerModal {
  width: 1200px !important; 
}